@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

@layer base {
  :root {
    --background: 210 29% 96%;
    --foreground: 227 25% 15%;
    --card: 210 29% 100%;
    --card-foreground: 227 25% 15%;
    --popover: 210 29% 100%;
    --popover-foreground: 227 25% 15%;
    --primary: 227 41% 27%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 25% 90%;
    --secondary-foreground: 227 25% 25%;
    --muted: 210 25% 90%;
    --muted-foreground: 227 25% 45%;
    --accent: 187 100% 42%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 20% 88%;
    --input: 210 20% 88%;
    --ring: 187 100% 42%;
    --radius: 0.5rem;
    --chart-1: 227 41% 27%;
    --chart-2: 187 100% 42%;
    --chart-3: 210 25% 50%;
    --chart-4: 227 25% 65%;
    --chart-5: 187 50% 60%;
    --sidebar-background: hsl(var(--primary));
    --sidebar-foreground: hsl(var(--primary-foreground));
    --sidebar-primary: hsl(var(--accent));
    --sidebar-primary-foreground: hsl(var(--accent-foreground));
    --sidebar-accent: 227 41% 37%;
    --sidebar-accent-foreground: hsl(var(--primary-foreground));
    --sidebar-border: 227 41% 32%;
    --sidebar-ring: hsl(var(--ring));
  }
  .dark {
    --background: 227 25% 10%;
    --foreground: 210 40% 98%;
    --card: 227 25% 12%;
    --card-foreground: 210 40% 98%;
    --popover: 227 25% 10%;
    --popover-foreground: 210 40% 98%;
    --primary: 187 100% 42%;
    --primary-foreground: 227 25% 10%;
    --secondary: 227 25% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 227 25% 20%;
    --muted-foreground: 210 40% 60%;
    --accent: 227 41% 37%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 227 25% 20%;
    --input: 227 25% 20%;
    --ring: 187 100% 50%;
    --chart-1: 210 40% 98%;
    --chart-2: 187 100% 42%;
    --chart-3: 227 41% 37%;
    --chart-4: 227 25% 80%;
    --chart-5: 187 80% 70%;
    --sidebar-background: 227 25% 12%;
    --sidebar-foreground: 210 40% 90%;
    --sidebar-primary: hsl(var(--accent));
    --sidebar-primary-foreground: hsl(var(--accent-foreground));
    --sidebar-accent: 227 25% 20%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 227 25% 15%;
    --sidebar-ring: hsl(var(--ring));
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
